{
  "openapi": "3.0.3",
  "info": {
    "title": "算力中心OpenAPI",
    "version": "2.3.0"
  },
  "servers": [
    {
      "url": "https://slzxopenapi.ddc.bsnbase.com/",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "0-通用接口",
      "extensions": {
        "x-order": "2147483647"
      }
    },
    {
      "name": "1-官方DDC",
      "extensions": {
        "x-order": "2147483647"
      }
    },
    {
      "name": "2-链账户管理",
      "extensions": {
        "x-order": "2147483647"
      }
    },
    {
      "name": "3-网络接入",
      "extensions": {
        "x-order": "2147483647"
      }
    },
    {
      "name": "4-用户中心",
      "extensions": {
        "x-order": "2147483647"
      }
    },
    {
      "name": "5-NFT",
      "extensions": {
        "x-order": "2147483647"
      }
    }
  ],
  "paths": {
    "/ddcoai/sys/v1/appaccess/access/key/modify": {
      "post": {
        "tags": [
          "3-网络接入"
        ],
        "summary": "接入key更新",
        "description": "通过此接口可以更新用户接入节点网关需要使用的key",
        "operationId": "modifyAccessKeyUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutAccessKeyModify»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "5"
        }
      }
    },
    "/ddcoai/sys/v1/appaccess/access/key/search": {
      "post": {
        "tags": [
          "3-网络接入"
        ],
        "summary": "接入key查询",
        "description": "通过此接口可以查询用户接入节点网关需要使用的key",
        "operationId": "searchAccessKeyUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutAccessKeySearch»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "1"
        }
      }
    },
    "/ddcoai/sys/v1/chainaccount/import": {
      "post": {
        "tags": [
          "2-链账户管理"
        ],
        "summary": "导入链账户",
        "description": "导入算力中心支持的开放联盟链框架的链账户",
        "operationId": "importChainAccountUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InOpbChainAccountImport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutChainAccountImport»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2"
        }
      }
    },
    "/ddcoai/sys/v1/chainaccount/save": {
      "post": {
        "tags": [
          "2-链账户管理"
        ],
        "summary": "创建链账户",
        "description": "创建算力中心支持的开放联盟链框架的链账户",
        "operationId": "saveChainAccountUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InOpbChainAccountSave"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutChainAccountSave»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "1"
        }
      }
    },
    "/ddcoai/sys/v1/chainaccount/searches": {
      "post": {
        "tags": [
          "2-链账户管理"
        ],
        "summary": "链账户列表",
        "description": "算力中心门户用户查询自己的链账户数据",
        "operationId": "searchesChainAccountUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPageInfo«InOpbChainAccountSearches»"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfoPage«List«OutOpbChainAccountSearches»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "5"
        }
      }
    },
    "/ddcoai/sys/v1/chainaccount/hashrate/gas/search": {
      "post": {
        "tags": [
          "2-链账户管理"
        ],
        "summary": "能量值定价查询",
        "description": "1算力值可兑换的能量值，具体设置可以到运营系统菜单‘链账户管理-能量值价格管理’里修改",
        "operationId": "searchGasFeeUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InHashRateGasRatioSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutHashRateGasRatioSearch»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "7"
        }
      }
    },
    "/ddcoai/sys/v1/chainaccount/hashrate/resource/search": {
      "post": {
        "tags": [
          "2-链账户管理"
        ],
        "summary": "eos资源定价查询",
        "description": "eos资源定价查询，具体设置可以到运营系统菜单‘链账户管理-能量值价格管理’里修改",
        "operationId": "searchResourceFeeUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutHashRateResourceRatioDtoSearch»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "9"
        }
      }
    },
    "/ddcoai/sys/v1/chainaccount/gas/recharge": {
      "post": {
        "tags": [
          "2-链账户管理"
        ],
        "summary": "能量值充值",
        "description": "算力中心门户用户可以给自己链账户地址充值能量值",
        "operationId": "gasRechargeUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InGasRecharge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutEnergyRecharge»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "9"
        }
      }
    },
    "/ddcoai/sys/v1/chainaccount/resource/recharge": {
      "post": {
        "tags": [
          "2-链账户管理"
        ],
        "summary": "中移链资源充值",
        "description": "中移链资源充值",
        "operationId": "resourceRechargeUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InEosResourceRecharge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutEosResourceRecharge»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "11"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/data/searches": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "DDC列表查询",
        "description": "可根据DDCID、类型、链账户地址、链类型查询",
        "operationId": "dataSearchesUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPageInfo«InSearchesDdc»"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfoPage«List«OutSearchesDdc»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/data/searches/details/ddcId": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "查看DDC详情",
        "description": "根据DDCID查看DDC详情",
        "operationId": "searchDetailsByDdcIdUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InSearchDetailsByDdcId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutSearchDetailsByDdcId»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/data/searches/details/tx/record": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "查询DDC流转记录",
        "description": "查询DDC流转记录",
        "operationId": "searchDetailsByTxRecordUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPageInfo«InSearchDetailsByDdcId»"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfoPage«List«OutSearchDetailsByTxRecord»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/burn": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "DDC销毁",
        "description": "销毁指定开放联盟链框架的ddc且必须为同一个算力中心方，‘门户配置管理-门户功能配置’勾选了官方ddc之后才能使用",
        "operationId": "burnUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InDdcBurn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutDdcTrade»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "5"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/save": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "DDC生成",
        "description": "生成指定开放联盟链框架的ddc，‘门户配置管理-门户功能配置’勾选了官方ddc之后才能使用",
        "operationId": "ddcSaveUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InDdcSave"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutDdcTrade»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "1"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/send": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "DDC发送",
        "description": "发送指定开放联盟链框架的ddc到同一个算力中心方的链账户地址，‘门户配置管理-门户功能配置’勾选了官方ddc之后才能使用",
        "operationId": "sendUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InDdcSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutDdcTrade»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "3"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/fee/searches": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "DDC交易定价查询",
        "description": "查询DDC交易与算力值定值列表，算力值支持小数点后两位",
        "operationId": "frameworkSearchesUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«List«OutDdcFeeSearches»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/ddc/transfer/searches": {
      "post": {
        "tags": [
          "1-官方DDC"
        ],
        "summary": "DDC交易明细查询",
        "description": "查询DDC交易明细列表，包含官方DDC交易的状态结果",
        "operationId": "ddcTransferSearchesUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InDdcTransferSearches"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«List«OutDdcTransferSearches»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/nft/data/searches": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "NFT列表查询",
        "description": "可根据Token ID、类型、链账户地址、链类型查询",
        "operationId": "dataSearchesUsingPOST_1",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPageInfo«InNftSearches»"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfoPage«List«OutNftSearches»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/nft/data/searches/details/tokenId": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "查看NFT详情",
        "description": "根据NFT ID查看NFT详情",
        "operationId": "searchDetailsByTokenIdUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InNftSearchDetailsByTokenId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutNftSearchDetailsByTokenId»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/nft/data/searches/details/tx/record": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "查询NFT流转记录",
        "description": "查询NFT流转记录",
        "operationId": "searchDetailsByTxRecordUsingPOST_1",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPageInfo«InNftSearchDetailsByTokenId»"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfoPage«List«OutNftSearchDetailsByTxRecord»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/nft/url/save": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "NFT生成-附件上传Url",
        "description": "生成指定开放联盟链框架的nft",
        "operationId": "nftSaveUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InNftAsynSave"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "1"
        }
      }
    },
    "/ddcoai/sys/v1/nft/burn": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "NFT销毁",
        "description": "销毁指定开放联盟链框架的nft且必须为同一个算力中心方",
        "operationId": "burnUsingPOST_1",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InNftBurn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "5"
        }
      }
    },
    "/ddcoai/sys/v1/nft/save": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "NFT生成",
        "description": "生成指定开放联盟链框架的nft",
        "operationId": "ddcSaveUsingPOST_1",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InNftSave"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "1"
        }
      }
    },
    "/ddcoai/sys/v1/nft/send": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "NFT发送",
        "description": "发送指定开放联盟链框架的nft到同一个算力中心方的链账户地址",
        "operationId": "sendUsingPOST_1",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InNftSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "3"
        }
      }
    },
    "/ddcoai/sys/v1/nft/fee/searches": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "NFT交易定价查询",
        "description": "查询NFT交易与算力值定值列表，算力值支持小数点后两位",
        "operationId": "feeSearchesUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«List«OutNftFeeSearches»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/nft/transfer/searches": {
      "post": {
        "tags": [
          "5-NFT"
        ],
        "summary": "NFT交易明细查询",
        "description": "查询NFT交易明细列表，包含官方NFT交易的状态结果",
        "operationId": "transferSearchesUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InNftTransferSearches"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«List«OutNftTransferSearches»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/opb/frame/framework/searches": {
      "post": {
        "tags": [
          "0-通用接口"
        ],
        "summary": "开放联盟链框架查询",
        "description": "可以在运营系统的'网络接入-网关管理-接入方式管理'选择对外开放的框架 ",
        "operationId": "frameworkSearchesUsingPOST_1",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«List«OutOpbChainRecordSearches»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    },
    "/ddcoai/sys/v1/user/account/info/search": {
      "post": {
        "tags": [
          "4-用户中心"
        ],
        "summary": "我的算力余额查询",
        "description": "查询算力中心门户用户的算力值余额，如要充值可以到门户了解充值方式",
        "operationId": "userAccountInfoSearchUsingPOST",
        "parameters": [
          {
            "name": "apitoken",
            "in": "header",
            "description": "apitoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultInfo«OutUserAccountInfoSearch»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InDdcBurn": {
        "title": "InDdcBurn",
        "required": [
          "ddcId",
          "ddcOwner",
          "ddcType",
          "opbChainId",
          "securityData",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "ddcId": {
            "type": "string",
            "description": "DDC ID",
            "example": "100",
            "refType": null
          },
          "ddcOwner": {
            "type": "string",
            "description": "拥有者链账户地址",
            "example": "0x00000000000",
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC类型(721,1155)",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识(调用“开放联盟链框架查询”接口查询)",
            "format": "int64",
            "example": 9,
            "refType": null
          },
          "securityData": {
            "type": "string",
            "description": "附加数据",
            "example": "附加数据",
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "example": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InDdcSave": {
        "title": "InDdcSave",
        "required": [
          "ddcOwner",
          "ddcType",
          "imgFileBase64",
          "imgFileName",
          "opbChainId",
          "securityData",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "ddcDesc": {
            "type": "string",
            "description": "描述",
            "example": "描述",
            "refType": null
          },
          "ddcOwner": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x0000000000000000000",
            "refType": null
          },
          "ddcPubTotal": {
            "pattern": "^[1-9]\\d*$",
            "type": "string",
            "description": "发行数量：1155必填",
            "example": "100",
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC类型(721,1155)",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "imgFileBase64": {
            "type": "string",
            "description": "文件base64编码，支持的格式(png,jpg,jpeg,bmp,gif,doc,docx,pdf)，大小限制2m",
            "example": "png,iVBORw0KGgoAAAAN...(其中png为文件格式)",
            "refType": null
          },
          "imgFileName": {
            "pattern": "^[^.]*$",
            "type": "string",
            "description": "图片文件名称(不包含拓展名)",
            "example": "file1",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识(调用“开放联盟链框架查询”接口查询)",
            "format": "int64",
            "example": 1,
            "refType": null
          },
          "securityData": {
            "type": "string",
            "description": "附加数据",
            "example": "附加数据",
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "example": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InDdcSend": {
        "title": "InDdcSend",
        "required": [
          "ddcId",
          "ddcOwner",
          "ddcType",
          "opbChainId",
          "recipientAccount",
          "securityData",
          "sendNumber",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "ddcId": {
            "type": "string",
            "description": "DDC ID",
            "example": "100",
            "refType": null
          },
          "ddcOwner": {
            "type": "string",
            "description": "拥有者链账户地址",
            "example": "0x00000000000",
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC类型(721,1155)",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识(调用“开放联盟链框架查询”接口查询)",
            "format": "int64",
            "example": 9,
            "refType": null
          },
          "recipientAccount": {
            "type": "string",
            "description": "接收者账户地址",
            "example": "0x0000000000",
            "refType": null
          },
          "securityData": {
            "type": "string",
            "description": "附加数据",
            "example": "附加数据",
            "refType": null
          },
          "sendNumber": {
            "pattern": "^[1-9]\\d*$",
            "type": "string",
            "description": "发送数量",
            "example": "10",
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "example": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InDdcTransferSearches": {
        "title": "InDdcTransferSearches",
        "type": "object",
        "properties": {
          "tradeCode": {
            "type": "string",
            "description": "算力交易流水号",
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "交易类型   20=DDC生成  22=DDC流转   23=DDC销毁",
            "format": "int32",
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InEosResourceRecharge": {
        "title": "InEosResourceRecharge",
        "required": [
          "cpuPlusValue",
          "netPlusValue",
          "opbChainClientAddress",
          "ramPlusValue",
          "resourceValidDate"
        ],
        "type": "object",
        "properties": {
          "cpuPlusValue": {
            "maximum": 999999,
            "exclusiveMaximum": false,
            "type": "number",
            "description": "充值cpu容量（不能为小数）",
            "format": "biginteger",
            "example": 100,
            "refType": null
          },
          "netPlusValue": {
            "maximum": 999999,
            "exclusiveMaximum": false,
            "type": "number",
            "description": "充值net容量（不能为小数）",
            "format": "biginteger",
            "example": 100,
            "refType": null
          },
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "reddatas1234",
            "refType": null
          },
          "ramPlusValue": {
            "maximum": 999999,
            "exclusiveMaximum": false,
            "type": "number",
            "description": "充值ram容量（不能为小数）",
            "format": "biginteger",
            "example": 100,
            "refType": null
          },
          "resourceValidDate": {
            "pattern": "^((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29))$",
            "type": "string",
            "description": "资源有效期",
            "example": "2022-12-31",
            "refType": null
          }
        }
      },
      "InGasRecharge": {
        "title": "InGasRecharge",
        "required": [
          "hashRateValue",
          "opbChainClientAddress",
          "opbChainId"
        ],
        "type": "object",
        "properties": {
          "hashRateValue": {
            "type": "number",
            "description": "算力值：具体算力值对应的能量值请通过接口‘能量值定价查询’接口查询",
            "format": "bigdecimal",
            "example": 200,
            "refType": null
          },
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x2b46090ba0c945b69b754a3670e5c79c25abfe9e",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "开放联盟链id，可以从‘开放联盟链框架查询’接口查到具体信息",
            "format": "int64",
            "example": 2,
            "refType": null
          }
        }
      },
      "InHashRateGasRatioSearch": {
        "title": "InHashRateGasRatioSearch",
        "required": [
          "opbChainId"
        ],
        "type": "object",
        "properties": {
          "opbChainId": {
            "type": "integer",
            "description": "开放联盟链id",
            "format": "int64",
            "example": 2,
            "refType": null
          }
        }
      },
      "InNftAsynSave": {
        "title": "InNftAsynSave",
        "required": [
          "filePath",
          "opbChainId",
          "owner",
          "securityData",
          "tokenType",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "desc": {
            "type": "string",
            "description": "描述",
            "example": "描述",
            "refType": null
          },
          "filePath": {
            "type": "string",
            "description": "附件路径",
            "example": "http://123.com/123.jpg",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识",
            "format": "int64",
            "example": 1,
            "refType": null
          },
          "owner": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x0000000000000000000",
            "refType": null
          },
          "pubTotal": {
            "type": "integer",
            "description": "发行数量：1155必填",
            "format": "int64",
            "example": 100,
            "refType": null
          },
          "securityData": {
            "type": "string",
            "description": "附加数据",
            "example": "附加数据",
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "NFT类型：721,1155",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "example": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InNftBurn": {
        "title": "InNftBurn",
        "required": [
          "opbChainId",
          "owner",
          "tokenId",
          "tokenType",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "opbChainId": {
            "type": "integer",
            "description": "链类型",
            "format": "int64",
            "example": 9,
            "refType": null
          },
          "owner": {
            "type": "string",
            "description": "拥有者链账户地址",
            "example": "0x00000000000",
            "refType": null
          },
          "securityData": {
            "type": "string",
            "description": "附加数据",
            "example": "附加数据",
            "refType": null
          },
          "tokenId": {
            "type": "string",
            "description": "Token ID",
            "example": "100",
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "Token类型：721,1155",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "example": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InNftSave": {
        "title": "InNftSave",
        "required": [
          "attachListCode",
          "imgFileBase64",
          "imgFileName",
          "opbChainId",
          "owner",
          "securityData",
          "tokenType",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "attachListCode": {
            "type": "string",
            "description": "附件code",
            "example": "0000000000000",
            "refType": null
          },
          "desc": {
            "type": "string",
            "description": "描述",
            "example": "描述",
            "refType": null
          },
          "imgFileBase64": {
            "type": "string",
            "description": "文件base64编码，支持的格式(png,jpg,jpeg,bmp,gif,doc,docx,pdf)，大小限制2m",
            "example": "png,iVBORw0KGgoAAAAN...(其中png为文件格式)",
            "refType": null
          },
          "imgFileName": {
            "pattern": "^[^.]*$",
            "type": "string",
            "description": "图片文件名称(不包含拓展名)",
            "example": "file1",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识",
            "format": "int64",
            "example": 1,
            "refType": null
          },
          "owner": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x0000000000000000000",
            "refType": null
          },
          "pubTotal": {
            "type": "integer",
            "description": "发行数量：1155必填",
            "format": "int64",
            "example": 100,
            "refType": null
          },
          "securityData": {
            "type": "string",
            "description": "附加数据",
            "example": "附加数据",
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "NFT类型：721,1155",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "example": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InNftSearchDetailsByTokenId": {
        "title": "InNftSearchDetailsByTokenId",
        "required": [
          "opbChainId",
          "tokenId",
          "tokenType"
        ],
        "type": "object",
        "properties": {
          "opbChainId": {
            "type": "integer",
            "description": "开放联盟链id",
            "format": "int64",
            "example": 2,
            "refType": null
          },
          "tokenId": {
            "type": "string",
            "description": "token Id",
            "example": "1",
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "Token类型",
            "format": "int32",
            "example": 721,
            "refType": null
          }
        }
      },
      "InNftSearches": {
        "title": "InNftSearches",
        "type": "object",
        "properties": {
          "beginDate": {
            "type": "string",
            "description": "开始时间",
            "format": "date-time",
            "refType": null
          },
          "endDate": {
            "type": "string",
            "description": "结束时间",
            "format": "date-time",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识",
            "format": "int64",
            "example": 9,
            "refType": null
          },
          "owner": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x000000000",
            "refType": null
          },
          "tokenId": {
            "type": "string",
            "description": "Token ID",
            "example": "123",
            "refType": null
          },
          "tokenStatus": {
            "type": "integer",
            "description": "Token 状态：1=正常  4=销毁中 5=销毁 10=生成中 15=生成失败 20=发送中 25=发送失败   100=已冻结",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "token 类型",
            "format": "int32",
            "example": 721,
            "refType": null
          }
        }
      },
      "InNftSend": {
        "title": "InNftSend",
        "required": [
          "opbChainId",
          "owner",
          "recipientAccount",
          "securityData",
          "sendNumber",
          "tokenId",
          "tokenType",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "opbChainId": {
            "type": "integer",
            "description": "链类型",
            "format": "int64",
            "example": 9,
            "refType": null
          },
          "owner": {
            "type": "string",
            "description": "拥有者链账户地址",
            "example": "0x00000000000",
            "refType": null
          },
          "recipientAccount": {
            "type": "string",
            "description": "接收者账户",
            "example": "0x0000000000",
            "refType": null
          },
          "securityData": {
            "type": "string",
            "description": "附加数据",
            "example": "附加数据",
            "refType": null
          },
          "sendNumber": {
            "type": "integer",
            "description": "发送数量",
            "format": "int64",
            "example": 10,
            "refType": null
          },
          "tokenId": {
            "type": "string",
            "description": "Token ID",
            "example": "100",
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "Token类型：721,1155",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "example": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InNftTransferSearches": {
        "title": "InNftTransferSearches",
        "type": "object",
        "properties": {
          "tradeCode": {
            "type": "string",
            "description": "算力交易流水号",
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "交易类型   40=NFT生成  42=NFT流转   43=NFT销毁",
            "format": "int32",
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "InOpbChainAccountImport": {
        "title": "InOpbChainAccountImport",
        "required": [
          "opbChainClientName",
          "opbChainId",
          "privateKey"
        ],
        "type": "object",
        "properties": {
          "opbChainClientName": {
            "type": "string",
            "description": "链账户名称",
            "example": "test1",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链框架id",
            "format": "int64",
            "example": 2,
            "refType": null
          },
          "privateKey": {
            "type": "string",
            "description": "私钥",
            "example": "69f39c3e8fe86a9ab0da685a5b254323b92b4d220b8789fcb8fbc349b400cbad",
            "refType": null
          }
        }
      },
      "InOpbChainAccountSave": {
        "title": "InOpbChainAccountSave",
        "required": [
          "opbChainClientName",
          "opbChainId"
        ],
        "type": "object",
        "properties": {
          "opbChainClientName": {
            "type": "string",
            "description": "链账户名称",
            "example": "test1",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链框架id",
            "format": "int64",
            "example": 2,
            "refType": null
          }
        }
      },
      "InOpbChainAccountSearches": {
        "title": "InOpbChainAccountSearches",
        "type": "object",
        "properties": {
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "0xXXX",
            "refType": null
          },
          "opbChainClientName": {
            "type": "string",
            "description": "链账户名称",
            "example": "test1",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链框架id，可以从‘开放联盟链框架查询’接口查到具体信息",
            "format": "int64",
            "example": 9,
            "refType": null
          }
        }
      },
      "InPage": {
        "title": "InPage",
        "type": "object",
        "properties": {
          "pageNum": {
            "type": "integer",
            "description": "分页：从1开始",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "pageSize": {
            "type": "integer",
            "description": "每页大小。",
            "format": "int32",
            "example": 5,
            "refType": null
          }
        }
      },
      "InSearchDetailsByDdcId": {
        "title": "InSearchDetailsByDdcId",
        "required": [
          "ddcId",
          "ddcType",
          "opbChainId"
        ],
        "type": "object",
        "properties": {
          "ddcId": {
            "type": "string",
            "description": "ddc Id",
            "example": "1",
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC类型",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "开放联盟链id",
            "format": "int64",
            "example": 2,
            "refType": null
          }
        }
      },
      "InSearchesDdc": {
        "title": "InSearchesDdc",
        "type": "object",
        "properties": {
          "ddcId": {
            "type": "string",
            "description": "DDC ID",
            "example": "123",
            "refType": null
          },
          "ddcOwner": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x000000000",
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC类型",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识(调用“开放联盟链框架查询”接口查询)",
            "format": "int64",
            "example": 9,
            "refType": null
          }
        }
      },
      "OutAccessKeyModify": {
        "title": "OutAccessKeyModify",
        "type": "object",
        "properties": {
          "accessKey": {
            "type": "string",
            "description": "更新后的接入Key",
            "example": "更新后的接入Key",
            "refType": null
          }
        }
      },
      "OutAccessKeySearch": {
        "title": "OutAccessKeySearch",
        "type": "object",
        "properties": {
          "accessKey": {
            "type": "string",
            "description": "接入key",
            "example": "a96234234234ea343b233c343423c1960040343242332223326",
            "refType": null
          }
        }
      },
      "OutChainAccountImport": {
        "title": "OutChainAccountImport",
        "required": [
          "opbChainClientAddress",
          "privateKey",
          "publicKey"
        ],
        "type": "object",
        "properties": {
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "0xaaaaaaaaaaaaaaaaaa",
            "refType": null
          },
          "privateKey": {
            "type": "string",
            "description": "链账户私钥",
            "example": "**************",
            "refType": null
          },
          "publicKey": {
            "type": "string",
            "description": "链账户公钥",
            "example": "**************",
            "refType": null
          }
        }
      },
      "OutChainAccountSave": {
        "title": "OutChainAccountSave",
        "required": [
          "opbChainClientAddress",
          "privateKey",
          "publicKey"
        ],
        "type": "object",
        "properties": {
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "0xaaaaaaaaaaaaaaaaaa",
            "refType": null
          },
          "privateKey": {
            "type": "string",
            "description": "链账户私钥",
            "example": "**************",
            "refType": null
          },
          "publicKey": {
            "type": "string",
            "description": "链账户公钥",
            "example": "**************",
            "refType": null
          }
        }
      },
      "OutDdcFeeSearches": {
        "title": "OutDdcFeeSearches",
        "type": "object",
        "properties": {
          "txAmount": {
            "type": "number",
            "description": "DDC交易价格",
            "format": "bigdecimal",
            "example": 6,
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "DDC交易类型：20=生成 22=流转 23=销毁",
            "format": "int32",
            "example": 1,
            "refType": null
          }
        }
      },
      "OutDdcTrade": {
        "title": "OutDdcTrade",
        "required": [
          "tradeCode"
        ],
        "type": "object",
        "properties": {
          "tradeCode": {
            "type": "string",
            "description": "算力交易流水号",
            "example": "DDC00000000001",
            "refType": null
          }
        }
      },
      "OutDdcTransferSearches": {
        "title": "OutDdcTransferSearches",
        "required": [
          "ddcId",
          "ddcOwner",
          "ddcType",
          "opbChainId",
          "opbChainName",
          "sendAccount",
          "tradeCode",
          "txHash",
          "txStatus",
          "txType",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "burnQuantity": {
            "type": "integer",
            "description": "销毁数量",
            "format": "int64",
            "refType": null
          },
          "ddcId": {
            "type": "string",
            "description": "DdcId",
            "refType": null
          },
          "ddcOwner": {
            "type": "string",
            "description": "接收者账户地址",
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC类型",
            "format": "int32",
            "refType": null
          },
          "mintQuantity": {
            "type": "integer",
            "description": "生成数量",
            "format": "int64",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "开放联盟链链ID",
            "format": "int64",
            "refType": null
          },
          "opbChainName": {
            "type": "string",
            "description": "开放联盟链链名称",
            "refType": null
          },
          "sendAccount": {
            "type": "string",
            "description": "发送者账户地址",
            "refType": null
          },
          "tradeCode": {
            "type": "string",
            "description": "帐户交易编号",
            "refType": null
          },
          "tradeQuantity": {
            "type": "integer",
            "description": "流转数量",
            "format": "int64",
            "refType": null
          },
          "txHash": {
            "type": "string",
            "description": "交易哈希",
            "refType": null
          },
          "txStatus": {
            "type": "integer",
            "description": "交易状态：0=处理中 1=成功 2=失败",
            "format": "int32",
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "交易类型   20=DDC生成  22=DDC流转   23=DDC销毁",
            "format": "int32",
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "OutEnergyRecharge": {
        "title": "OutEnergyRecharge",
        "required": [
          "energyValue",
          "opbChainClientAddress"
        ],
        "type": "object",
        "properties": {
          "energyValue": {
            "type": "number",
            "description": "充值成功的能量值",
            "format": "bigdecimal",
            "example": 20000000,
            "refType": null
          },
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "0xaaaaaaaaaaaaaaaaaa",
            "refType": null
          }
        }
      },
      "OutEosResourceRecharge": {
        "title": "OutEosResourceRecharge",
        "required": [
          "cpuPlusValue",
          "netPlusValue",
          "opbChainClientAddress",
          "ramPlusValue"
        ],
        "type": "object",
        "properties": {
          "cpuPlusValue": {
            "type": "number",
            "description": "充值cpu量",
            "format": "biginteger",
            "example": 100,
            "refType": null
          },
          "netPlusValue": {
            "type": "number",
            "description": "充值net量",
            "format": "biginteger",
            "example": 100,
            "refType": null
          },
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "0xaaaaaaaaaaaaaaaaaa",
            "refType": null
          },
          "ramPlusValue": {
            "type": "number",
            "description": "充值ram量",
            "format": "biginteger",
            "example": 100,
            "refType": null
          }
        }
      },
      "OutHashRateGasRatioSearch": {
        "title": "OutHashRateGasRatioSearch",
        "required": [
          "gasQuantity"
        ],
        "type": "object",
        "properties": {
          "gasQuantity": {
            "type": "number",
            "description": "1算力值对应的能量值",
            "format": "bigdecimal",
            "example": 1000000,
            "refType": null
          }
        }
      },
      "OutHashRateResourceRatioDtoSearch": {
        "title": "OutHashRateResourceRatioDtoSearch",
        "required": [
          "eosCpu",
          "eosNet",
          "eosRam"
        ],
        "type": "object",
        "properties": {
          "eosCpu": {
            "type": "number",
            "description": "cpu单价 (算力/SYS/天)",
            "format": "double",
            "example": 0.02,
            "refType": null
          },
          "eosNet": {
            "type": "number",
            "description": "net单价 (算力/SYS/天)",
            "format": "double",
            "example": 0.01,
            "refType": null
          },
          "eosRam": {
            "type": "number",
            "description": "ram单价 (算力/KB)",
            "format": "double",
            "example": 0.04,
            "refType": null
          }
        }
      },
      "OutNftFeeSearches": {
        "title": "OutNftFeeSearches",
        "type": "object",
        "properties": {
          "txAmount": {
            "type": "number",
            "description": "NFT交易价格",
            "format": "bigdecimal",
            "example": 6,
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "NFT交易类型：20=生成 22=流转 23=销毁",
            "format": "int32",
            "example": 1,
            "refType": null
          }
        }
      },
      "OutNftSearchDetailsByTokenId": {
        "title": "OutNftSearchDetailsByTokenId",
        "required": [
          "generateDate",
          "generateState",
          "opbChainName",
          "opsMgrState",
          "tokenId",
          "tokenState",
          "tokenType",
          "tokenUri"
        ],
        "type": "object",
        "properties": {
          "desc": {
            "type": "string",
            "description": "Token描述",
            "example": "描述",
            "refType": null
          },
          "generateDate": {
            "type": "string",
            "description": "生成时间",
            "example": "2022-11-09 10:00:00",
            "refType": null
          },
          "generateState": {
            "type": "integer",
            "description": "生成状态  1=生成中 5=正常 10=生成失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "opbChainName": {
            "type": "string",
            "description": "框架名称",
            "example": "泰安链",
            "refType": null
          },
          "opsMgrState": {
            "type": "integer",
            "description": "运营冻结状态   1=冻结  5=正常（解冻）",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "publishQuantity": {
            "type": "integer",
            "description": "发行量（只有1155类型有值）",
            "format": "int64",
            "example": 100,
            "refType": null
          },
          "tokenId": {
            "type": "string",
            "description": "Token ID",
            "example": "122",
            "refType": null
          },
          "tokenState": {
            "type": "integer",
            "description": "Token状态 1=正常  4=销毁中 5=销毁  20=发送中 25=发送失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "Token 类型",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "tokenUri": {
            "type": "string",
            "description": "Token uri",
            "refType": null
          }
        }
      },
      "OutNftSearchDetailsByTxRecord": {
        "title": "OutNftSearchDetailsByTxRecord",
        "required": [
          "blockHeight",
          "createDate",
          "receiveAccount",
          "sendAccount",
          "txHash",
          "txType"
        ],
        "type": "object",
        "properties": {
          "blockHeight": {
            "type": "integer",
            "description": "块高",
            "format": "int64",
            "example": 11111,
            "refType": null
          },
          "createDate": {
            "type": "string",
            "description": "交易时间",
            "example": "2022-11-09 10:00:00",
            "refType": null
          },
          "receiveAccount": {
            "type": "string",
            "description": "接收者账户",
            "example": "0x0000000000000",
            "refType": null
          },
          "sendAccount": {
            "type": "string",
            "description": "发送者账户",
            "example": "0x0000000000000",
            "refType": null
          },
          "txHash": {
            "type": "string",
            "description": "交易hash",
            "example": "0x0000000000000",
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "交易类型：20=NFT生成  22=NFT流转   23=NFT销毁  ",
            "format": "int32",
            "example": 20,
            "refType": null
          }
        }
      },
      "OutNftSearches": {
        "title": "OutNftSearches",
        "required": [
          "ddcOwnerQuantity",
          "generateState",
          "opbChainId",
          "opsMgrState",
          "owner",
          "platformDdcCode",
          "tokenState",
          "tokenType"
        ],
        "type": "object",
        "properties": {
          "ddcOwnerQuantity": {
            "type": "integer",
            "description": "owner数量",
            "format": "int64",
            "example": 1,
            "refType": null
          },
          "generateDate": {
            "type": "string",
            "description": "生成时间",
            "example": "2022-11-09 11:00:00",
            "refType": null
          },
          "generateState": {
            "type": "integer",
            "description": "Token生成状态  1=生成中 5=正常 10=生成失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识",
            "format": "int64",
            "example": 4,
            "refType": null
          },
          "opsMgrState": {
            "type": "integer",
            "description": "运营冻结状态   1=冻结  5=正常（解冻）",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "owner": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x0000000",
            "refType": null
          },
          "platformDdcCode": {
            "type": "string",
            "description": "Token CODE",
            "example": "SSSSSSS",
            "refType": null
          },
          "tokenId": {
            "type": "string",
            "description": "Token Id",
            "example": "123",
            "refType": null
          },
          "tokenState": {
            "type": "integer",
            "description": "Token状态 1=正常  4=销毁中 5=销毁  20=发送中 25=发送失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "Token 类型",
            "format": "int32",
            "example": 721,
            "refType": null
          }
        }
      },
      "OutNftTransferSearches": {
        "title": "OutNftTransferSearches",
        "required": [
          "opbChainId",
          "opbChainName",
          "owner",
          "sendAccount",
          "tokenId",
          "tokenType",
          "tradeCode",
          "txHash",
          "txStatus",
          "txType",
          "userTradeCode"
        ],
        "type": "object",
        "properties": {
          "burnQuantity": {
            "type": "integer",
            "description": "销毁数量",
            "format": "int64",
            "refType": null
          },
          "mintQuantity": {
            "type": "integer",
            "description": "生成数量",
            "format": "int64",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "开放联盟链链ID",
            "format": "int64",
            "refType": null
          },
          "opbChainName": {
            "type": "string",
            "description": "开放联盟链链名称",
            "refType": null
          },
          "owner": {
            "type": "string",
            "description": "接收者账户地址",
            "refType": null
          },
          "sendAccount": {
            "type": "string",
            "description": "发送者账户地址",
            "refType": null
          },
          "tokenId": {
            "type": "string",
            "description": "Token Id",
            "refType": null
          },
          "tokenType": {
            "type": "integer",
            "description": "Token类型：721,1155",
            "format": "int32",
            "refType": null
          },
          "tradeCode": {
            "type": "string",
            "description": "算力交易流水号",
            "refType": null
          },
          "tradeQuantity": {
            "type": "integer",
            "description": "流转数量",
            "format": "int64",
            "refType": null
          },
          "txHash": {
            "type": "string",
            "description": "交易哈希",
            "refType": null
          },
          "txStatus": {
            "type": "integer",
            "description": "交易状态：0=处理中 1=成功 2=失败",
            "format": "int32",
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "交易类型   20=NFT生成  22=NFT流转   23=NFT销毁",
            "format": "int32",
            "refType": null
          },
          "userTradeCode": {
            "type": "string",
            "description": "用户第三方流水号",
            "refType": null
          }
        }
      },
      "OutOpbChainAccountSearches": {
        "title": "OutOpbChainAccountSearches",
        "required": [
          "energyValueBalance",
          "gasLastUpdateTime",
          "opbChainAccountStatus",
          "opbChainClientAddress",
          "opbChainClientCode",
          "opbChainClientName",
          "opbChainName"
        ],
        "type": "object",
        "properties": {
          "energyValueBalance": {
            "type": "string",
            "description": "能量值余额（eos：NET:111111bytes,CPU:111111us,RAM:11111bytes）",
            "example": "20000000",
            "refType": null
          },
          "gasLastUpdateTime": {
            "type": "string",
            "description": "能量值/资源更新时间",
            "format": "date-time",
            "refType": null
          },
          "opbChainAccountStatus": {
            "type": "integer",
            "description": "链账户状态（已启用/已冻结）",
            "format": "int32",
            "example": 2,
            "refType": null
          },
          "opbChainClientAddress": {
            "type": "string",
            "description": "链账户地址",
            "example": "0xaaaaaaaaaaaaaaaaaa",
            "refType": null
          },
          "opbChainClientCode": {
            "type": "string",
            "description": "链账户code",
            "example": "wertyuiopoiuytr",
            "refType": null
          },
          "opbChainClientName": {
            "type": "string",
            "description": "链账户名称",
            "example": "test1",
            "refType": null
          },
          "opbChainName": {
            "type": "string",
            "description": "链名称",
            "example": "0xaaaaaaaaaaaaaaaaaa",
            "refType": null
          }
        }
      },
      "OutOpbChainRecordSearches": {
        "title": "OutOpbChainRecordSearches",
        "required": [
          "opbAlgorithmName",
          "opbAlgorithmType",
          "opbChainId",
          "opbChainName",
          "opbChainType"
        ],
        "type": "object",
        "properties": {
          "opbAlgorithmName": {
            "type": "string",
            "description": "开放联盟链链算法名称",
            "refType": null
          },
          "opbAlgorithmType": {
            "type": "integer",
            "description": "开放联盟链链算法类型",
            "format": "int32",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "开放联盟链链ID",
            "format": "int64",
            "refType": null
          },
          "opbChainName": {
            "type": "string",
            "description": "开放联盟链链名称",
            "refType": null
          },
          "opbChainType": {
            "type": "string",
            "description": "开放联盟链链类型",
            "refType": null
          }
        }
      },
      "OutSearchDetailsByDdcId": {
        "title": "OutSearchDetailsByDdcId",
        "required": [
          "ddcGenerateState",
          "ddcId",
          "ddcState",
          "ddcType",
          "ddcUri",
          "generateDate",
          "opbChainName",
          "opsMgrState"
        ],
        "type": "object",
        "properties": {
          "ddcDesc": {
            "type": "string",
            "description": "DDC描述",
            "example": "描述",
            "refType": null
          },
          "ddcGenerateState": {
            "type": "integer",
            "description": "DDC生成状态  1=生成中 5=正常 10=生成失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "ddcId": {
            "type": "string",
            "description": "DDC ID",
            "example": "122",
            "refType": null
          },
          "ddcState": {
            "type": "integer",
            "description": "DDC状态 1=正常  4=销毁中 5=销毁  20=发送中 25=发送失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC 类型",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "ddcUri": {
            "type": "string",
            "description": "ddcuri",
            "refType": null
          },
          "generateDate": {
            "type": "string",
            "description": "生成时间",
            "example": "2022-11-09 10:00:00",
            "refType": null
          },
          "opbChainName": {
            "type": "string",
            "description": "框架名称",
            "example": "泰安链",
            "refType": null
          },
          "opsMgrState": {
            "type": "integer",
            "description": "运营冻结状态   1=冻结  5=正常（解冻）",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "publishQuantity": {
            "type": "integer",
            "description": "发行量（只有1155类型有值）",
            "format": "int64",
            "example": 100,
            "refType": null
          }
        }
      },
      "OutSearchDetailsByTxRecord": {
        "title": "OutSearchDetailsByTxRecord",
        "required": [
          "blockHeight",
          "createDate",
          "receiveAccount",
          "sendAccount",
          "txHash",
          "txType"
        ],
        "type": "object",
        "properties": {
          "blockHeight": {
            "type": "integer",
            "description": "块高",
            "format": "int64",
            "example": 11111,
            "refType": null
          },
          "createDate": {
            "type": "string",
            "description": "交易时间",
            "example": "2022-11-09 10:00:00",
            "refType": null
          },
          "receiveAccount": {
            "type": "string",
            "description": "接收者账户",
            "example": "0x0000000000000",
            "refType": null
          },
          "sendAccount": {
            "type": "string",
            "description": "发送者账户",
            "example": "0x0000000000000",
            "refType": null
          },
          "txHash": {
            "type": "string",
            "description": "交易hash",
            "example": "0x0000000000000",
            "refType": null
          },
          "txType": {
            "type": "integer",
            "description": "交易类型：20=DDC生成  22=DDC流转   23=DDC销毁  ",
            "format": "int32",
            "example": 20,
            "refType": null
          }
        }
      },
      "OutSearchesDdc": {
        "title": "OutSearchesDdc",
        "required": [
          "ddcGenerateState",
          "ddcOwner",
          "ddcState",
          "ddcType",
          "opbChainId",
          "opsMgrState",
          "platformDdcCode"
        ],
        "type": "object",
        "properties": {
          "ddcGenerateState": {
            "type": "integer",
            "description": "DDC生成状态  1=生成中 5=正常 10=生成失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "ddcId": {
            "type": "string",
            "description": "DDC ID",
            "example": "123",
            "refType": null
          },
          "ddcOwner": {
            "type": "string",
            "description": "链账户地址",
            "example": "0x0000000",
            "refType": null
          },
          "ddcState": {
            "type": "integer",
            "description": "DDC状态 1=正常  4=销毁中 5=销毁  20=发送中 25=发送失败 ",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "ddcType": {
            "type": "integer",
            "description": "DDC类型",
            "format": "int32",
            "example": 721,
            "refType": null
          },
          "generateDate": {
            "type": "string",
            "description": "生成时间",
            "example": "2022-11-09 11:00:00",
            "refType": null
          },
          "opbChainId": {
            "type": "integer",
            "description": "链标识",
            "format": "int64",
            "example": 4,
            "refType": null
          },
          "opsMgrState": {
            "type": "integer",
            "description": "运营冻结状态   1=冻结  5=正常（解冻）",
            "format": "int32",
            "example": 1,
            "refType": null
          },
          "platformDdcCode": {
            "type": "string",
            "description": "DDC CODE",
            "example": "SSSSSSS",
            "refType": null
          }
        }
      },
      "OutUserAccountInfoSearch": {
        "title": "OutUserAccountInfoSearch",
        "required": [
          "accountBalance"
        ],
        "type": "object",
        "properties": {
          "accountBalance": {
            "type": "number",
            "description": "账户余额：算力值",
            "format": "bigdecimal",
            "example": 10,
            "refType": null
          }
        }
      },
      "PageInfo": {
        "title": "PageInfo",
        "type": "object",
        "properties": {
          "firstPage": {
            "type": "boolean",
            "refType": null
          },
          "lastPage": {
            "type": "boolean",
            "refType": null
          },
          "pageNum": {
            "type": "integer",
            "format": "int32",
            "refType": null
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "refType": null
          },
          "pages": {
            "type": "integer",
            "format": "int32",
            "refType": null
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "refType": null
          }
        }
      },
      "RequestPageInfo«InNftSearchDetailsByTokenId»": {
        "title": "RequestPageInfo«InNftSearchDetailsByTokenId»",
        "required": [
          "data",
          "page"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "请求报文体，不能为null，可以为空对象",
            "$ref": "#/components/schemas/InNftSearchDetailsByTokenId",
            "refType": "InNftSearchDetailsByTokenId"
          },
          "page": {
            "description": "分页入参",
            "$ref": "#/components/schemas/InPage",
            "refType": "InPage"
          }
        }
      },
      "RequestPageInfo«InNftSearches»": {
        "title": "RequestPageInfo«InNftSearches»",
        "required": [
          "data",
          "page"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "请求报文体，不能为null，可以为空对象",
            "$ref": "#/components/schemas/InNftSearches",
            "refType": "InNftSearches"
          },
          "page": {
            "description": "分页入参",
            "$ref": "#/components/schemas/InPage",
            "refType": "InPage"
          }
        }
      },
      "RequestPageInfo«InOpbChainAccountSearches»": {
        "title": "RequestPageInfo«InOpbChainAccountSearches»",
        "required": [
          "data",
          "page"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "请求报文体，不能为null，可以为空对象",
            "$ref": "#/components/schemas/InOpbChainAccountSearches",
            "refType": "InOpbChainAccountSearches"
          },
          "page": {
            "description": "分页入参",
            "$ref": "#/components/schemas/InPage",
            "refType": "InPage"
          }
        }
      },
      "RequestPageInfo«InSearchDetailsByDdcId»": {
        "title": "RequestPageInfo«InSearchDetailsByDdcId»",
        "required": [
          "data",
          "page"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "请求报文体，不能为null，可以为空对象",
            "$ref": "#/components/schemas/InSearchDetailsByDdcId",
            "refType": "InSearchDetailsByDdcId"
          },
          "page": {
            "description": "分页入参",
            "$ref": "#/components/schemas/InPage",
            "refType": "InPage"
          }
        }
      },
      "RequestPageInfo«InSearchesDdc»": {
        "title": "RequestPageInfo«InSearchesDdc»",
        "required": [
          "data",
          "page"
        ],
        "type": "object",
        "properties": {
          "data": {
            "description": "请求报文体，不能为null，可以为空对象",
            "$ref": "#/components/schemas/InSearchesDdc",
            "refType": "InSearchesDdc"
          },
          "page": {
            "description": "分页入参",
            "$ref": "#/components/schemas/InPage",
            "refType": "InPage"
          }
        }
      },
      "ResultInfo": {
        "title": "ResultInfo",
        "required": [
          "code",
          "errorLogCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "成功：0，失败：-1",
            "format": "int32",
            "example": 0
          },
          "data": {
            "type": "object"
          },
          "errorLogCode": {
            "type": "string",
            "description": "此标记同时写入到日志文件中，方便查找",
            "example": "0"
          },
          "message": {
            "type": "string",
            "description": "都是消息编码，前端自行国际化处理",
            "example": "0"
          },
          "portalToken": {
            "type": "string",
            "description": "凭此token可以访问共享接口，返回空则表示无法使用",
            "example": "portaltoken"
          }
        }
      },
      "ResultInfoPage«List«OutNftSearchDetailsByTxRecord»»": {
        "title": "ResultInfoPage«List«OutNftSearchDetailsByTxRecord»»",
        "required": [
          "code",
          "errorLogCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "成功：0，失败：-1",
            "format": "int32",
            "example": 0
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutNftSearchDetailsByTxRecord"
            }
          },
          "errorLogCode": {
            "type": "string",
            "description": "此标记同时写入到日志文件中，方便查找",
            "example": "0"
          },
          "message": {
            "type": "string",
            "description": "都是消息编码，前端自行国际化处理",
            "example": "0"
          },
          "portalToken": {
            "type": "string",
            "description": "凭此token可以访问共享接口，返回空则表示无法使用",
            "example": "portaltoken"
          },
          "resultPageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "ResultInfoPage«List«OutNftSearches»»": {
        "title": "ResultInfoPage«List«OutNftSearches»»",
        "required": [
          "code",
          "errorLogCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "成功：0，失败：-1",
            "format": "int32",
            "example": 0
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutNftSearches"
            }
          },
          "errorLogCode": {
            "type": "string",
            "description": "此标记同时写入到日志文件中，方便查找",
            "example": "0"
          },
          "message": {
            "type": "string",
            "description": "都是消息编码，前端自行国际化处理",
            "example": "0"
          },
          "portalToken": {
            "type": "string",
            "description": "凭此token可以访问共享接口，返回空则表示无法使用",
            "example": "portaltoken"
          },
          "resultPageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "ResultInfoPage«List«OutOpbChainAccountSearches»»": {
        "title": "ResultInfoPage«List«OutOpbChainAccountSearches»»",
        "required": [
          "code",
          "errorLogCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "成功：0，失败：-1",
            "format": "int32",
            "example": 0
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutOpbChainAccountSearches"
            }
          },
          "errorLogCode": {
            "type": "string",
            "description": "此标记同时写入到日志文件中，方便查找",
            "example": "0"
          },
          "message": {
            "type": "string",
            "description": "都是消息编码，前端自行国际化处理",
            "example": "0"
          },
          "portalToken": {
            "type": "string",
            "description": "凭此token可以访问共享接口，返回空则表示无法使用",
            "example": "portaltoken"
          },
          "resultPageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "ResultInfoPage«List«OutSearchDetailsByTxRecord»»": {
        "title": "ResultInfoPage«List«OutSearchDetailsByTxRecord»»",
        "required": [
          "code",
          "errorLogCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "成功：0，失败：-1",
            "format": "int32",
            "example": 0
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutSearchDetailsByTxRecord"
            }
          },
          "errorLogCode": {
            "type": "string",
            "description": "此标记同时写入到日志文件中，方便查找",
            "example": "0"
          },
          "message": {
            "type": "string",
            "description": "都是消息编码，前端自行国际化处理",
            "example": "0"
          },
          "portalToken": {
            "type": "string",
            "description": "凭此token可以访问共享接口，返回空则表示无法使用",
            "example": "portaltoken"
          },
          "resultPageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "ResultInfoPage«List«OutSearchesDdc»»": {
        "title": "ResultInfoPage«List«OutSearchesDdc»»",
        "required": [
          "code",
          "errorLogCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "成功：0，失败：-1",
            "format": "int32",
            "example": 0
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutSearchesDdc"
            }
          },
          "errorLogCode": {
            "type": "string",
            "description": "此标记同时写入到日志文件中，方便查找",
            "example": "0"
          },
          "message": {
            "type": "string",
            "description": "都是消息编码，前端自行国际化处理",
            "example": "0"
          },
          "portalToken": {
            "type": "string",
            "description": "凭此token可以访问共享接口，返回空则表示无法使用",
            "example": "portaltoken"
          },
          "resultPageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "ResultInfo«List«OutDdcFeeSearches»»": {
        "title": "ResultInfo«List«OutDdcFeeSearches»»",
        "required": [
          "code",
          "errorLogCode",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "成功：0，失败：-1",
            "format": "int32",
            "example": 0
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutDdcFeeSearches"
            }
          },
          "errorLogCode": {
            "type": "string",
            "description": "此标记同时写入到日志文件中，方便查找",
            "example": "0"
          },
          "message": {
            "type": "string",
            "description": "都是消息编码，前端自行国际化处理",
            "example": "0"
          },
          "portalToken": {
            "type": "string",
            "description": "凭此token可以访问共享接口，返回空则表示无法使用",
            "example": "portaltoken"
          }
        }
      },
      "ResultInfo«List«OutDdcTransferSearches»»": {
        "title": "ResultInfo«List«OutDdcTransferSearches»»",
        "required": [
          "code",
          "errorLogCode",
          "message"
[...]
